<div class="row">
    <header id="nav-header" class="clearfix">
        <div class="col-md-5">
            <nav class="navbar-default pull-left">
                <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </nav>
            <input type="text" class="hidden-sm hidden-xs" id="header-search-field" placeholder="Search for something..." ng-model="search">
        </div>

    </header>
</div>


<form role="form" method="post" class="form-horizontal" data-ng-submit="addPublisher(publisher)">

    <h4> Add Publisher</h4>

    <div class="row">
        <div class="col-sm-3">
            <label>Publisher Name</label> 
            <input type="text" class="form-control" required="required" data-ng-model="publisher.name" />
            <span data-ng-show="errorName">{{errorName}}</span>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-3">
            <label for="repeatSelect"> Exam: </label>
            <select name="repeatSelect" id="repeatSelect" data-ng-model="publisher.exam.id" class="form-control">
                <option ng-repeat="exam in exams"  value="{{exam.id}}">{{exam.name}}</option>
            </select>    
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-3">
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </div>
</form>

<br/>

<div id="dashboard-con">
    <div class="row">
        <div class="col-md-12">
            <div class="admin-content-con clearfix">


                <h4>  Publishers List </h4>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Publisher Name</th>
                            <th>Exam Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-ng-repeat="publisher in publishers| filter: search">
                        <tr>
                            <td class="col-md-2">
                                <a href="" data-ng-click="findPublisherById(publisher.id)">{{publisher.name}}</a>
                            </td>
                            <td class="col-md-2">
                                <a href="" data-ng-click="">{{publisher.exam.name}}</a>
                            </td>
                            <td class="col-md-2">
                                <a href="" data-ng-click="updatePublisherClicked(publisher)" class="label label-success">Update</a>
                            </td>
                            <td class="col-md-2">
                                <a href="" data-ng-click="deletePublisher(publisher.id)" class="label label-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
