

<div class="container-fluid">
    <div class="row">

        <!-- main content area -->
        <div class="col-md-12 valign-top">

            <div class="row content">

                <div class="panel-group col-md-2 sidefx sidetext" id="accordion">

                    <br/>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-book"></i> Exams </h4>
                        <li>
                            <a href="/exams"> Exams </a>
                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-book"></i>Rehearsal </h4>
                        <li>
                            <a href="/rehearsal-by-subjects-sections/1"> By Subjects</a>
                        </li>
                        <li>
                            <a href="/rehearsal-by-subjects-sections/2"> By Sections</a>
                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-dot-circle-o"></i> Review </h4>
                        <li>
                            <a href="/review"> Review </a>
                        </li>
                    </ul>


                </div>

                <div class="col-sm-10">
                    <h3> Welcome To Rehearsal Mode Dashboard  </h3>
                    <hr>
                    <div class="row">

                        <div class="col-sm-12 col-md-12">

                          <h4>  Note : User can go to different types of ways are ... </h4>

                            <p>1. Take Exams. </p>
                            <p>2. Take Rehearsal by subject.</p>
                            <p>3. Review exams.</p>

                        </div>

                    </div>

                </div>

            </div>


        </div>
    </div>

</div>



