

<div class="container-fluid">
    <div class="row">

        <!-- main content area -->
        <div class="col-md-12 valign-top">

            <div class="row content">

                <div class="panel-group col-md-2 sidefx sidetext" id="accordion">

                    <br/>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-book"></i> Exam Type </h4>
                        <li>
                            <select class="form-control" required >
                                <option value="">--- Choose Exam ---</option>
                                <option value="">Exam 1</option>
                                <option value="">Exam 2</option>
                            </select>

                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-book"></i> Exam Year </h4>
                        <li>
                            <select class="form-control" required >
                                <option value="">--- Choose Year ---</option>
                                <option value="">2001</option>
                                <option value="">2016</option>
                            </select>

                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-dot-circle-o"></i> Paper Type </h4>
                        <li>
                            <select class="form-control" required >
                                <option value="">--- Choose Paper Type ---</option>
                                <option value="">Paper Type 1</option>
                                <option value="">Paper Type 2</option>
                            </select>
                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-dot-circle-o"></i> Subjects </h4>
                        <li>
                            <select class="form-control" required >
                                <option value="">--- Choose Subject ---</option>
                                <option value="">subject 1</option>
                                <option value="">subject 2</option>
                            </select>
                        </li>
                    </ul>

                    <ul class="mainmenusec">
                        <h4><i class="fa fa-dot-circle-o"></i> Timers </h4>
                        <li>
                            <select class="form-control" required >
                                <option value="">--- Choose Timers ---</option>
                                <option value="">30m</option>
                                <option value="">60m</option>
                                <option value="">120m</option>
                            </select>
                        </li>
                    </ul>

                </div>

                <div class="col-sm-10">
                    <h3> Note : Review page   </h3>
                    <hr>
                    <div class="row">

                        <div class="col-sm-12 col-md-12">

                            <p> Questions list </p>


                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>

</div>



