<form role="form" method="post"
      data-ng-submit="updateSubject(subjectData.currSubject)">

    <fieldset class="form-group">
        <label>Subject Name</label> <input type="text" class="form-control"
                                         required="required" data-ng-model="subjectData.currSubject.name" /> <span
                                         data-ng-show="errorName">{{errorName}}</span>
    </fieldset>
    <input type="hidden" data-ng-model="subjectData.currSubject.version" ng-value="0" id="search_param"/>         

    <input type="submit" value="Submit" class="btn btn-success" />
</form>