<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form action="/users/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" />
        <select name="user_type">
            <option value="students">Students</option>
            <option value="teachers">Teachers</option>
        </select>
        <input type="submit" value="Upload" />
</form>
</body>
</html>